:root {
	--card-width: 70px;
	--card-height: 100px
}

#playing-area {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: 1fr auto;
	grid-column-gap: 10px;
  grid-row-gap: 15px;
	background: darkgreen;
	border: 2px solid gold;
	border-radius: 5%;
	padding:10px;
	margin: auto;
	width: calc(var(--card-width)*9.5);
	max-width: calc(var(--card-width)*12);
	-webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;


}

.card-slot-area {
	display: grid;
	grid-template-columns: repeat(4,var(--card-width));
	grid-template-rows: auto var(--card-height);
	height: calc(var(--card-height)*1.5);
	grid-column-gap: 5px;
}

.card-slot-area-tag {
	grid-area: 1 / 1 / 2 / 5;
	color: lightgreen;
	align-self: center;
	justify-self: center;
	font: 2em sans-serif;
}


#foundation-area {
	grid-area: 1 / 1 / 2 / 2;
}



#cell-area{
	justify-self: end;
	grid-area: 1 / 2 / 2 / 3;
}

.cell, .foundation {
	border-radius: 5%;
box-shadow: inset 0 0 2px 0px black;
background: rgba(0, 0, 0, 0.2);
}

#cascade-area{
	justify-self: center;
	grid-area: 2 / 1 / 3 / 3;
	display: grid;
	grid-template-columns: repeat(8,var(--card-width));
	grid-column-gap: 10px;
}

.cascade{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(24, 1fr);
	height: calc(var(--card-height)*6);
	width: var(--card-width);
}

.card {
	width: var(--card-width);
	height: var(--card-height);
	border: 2px solid black;
	border-radius: 5%;
	box-sizing: border-box;
	background: black;
	box-shadow: 0 0 5px 0px DarkSlateGrey ;
}


@media only screen and (max-width: 720px) {
	.card-slot-area-tag {
	font: 1.5em sans-serif;
}

  :root {
	--card-width: 50px;
	--card-height: 75px
	}
#playing-area {
	grid-column-gap: 10px;
	padding:10px;
	width: calc(var(--card-width)*9.25);
	-webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;


}
#cascade-area{
	justify-self: center;
	grid-area: 2 / 1 / 3 / 3;
	display: grid;
	grid-template-columns: repeat(8,var(--card-width));
	grid-column-gap: 5px;
}

	.card {
		width: var(--card-width);
		height: var(--card-height);
		border: 0px solid green;
		border-radius: 5%;
		box-sizing: border-box;
		box-shadow: 0 0 5px 0px DarkSlateGrey ;
	}
}

@media only screen and (max-width: 500px) {

	.card-slot-area-tag {
		font: 1em sans-serif;
	}

  :root {
	--card-width: 35px;
	--card-height: 50px
	}

#cell-area, #foundation-area {
justify-self: center;	grid-column-gap: 5px;
}

#playing-area {
	grid-column-gap: 10px;
  grid-row-gap: 35px;
	border-radius: 5%;
	padding:10px;
	margin: auto;
	min-width: calc(var(--card-width)*9);
	max-width: calc(var(--card-width)*14);
	width: auto;

}
#cascade-area{
	justify-content: space-around;
	width: 100%;
}

	.card {
		width: var(--card-width);
		height: var(--card-height);
	}
}



/* {
	outline:1px solid orange;
}
