<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ page.title }}</title>
    {% include stylesheets.html %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

{% include navigation.html %}

<div class="jumbotron justify-content-center" style="background-image: url('/assets/images/code.png'); background-size: cover;">
  <div class="container flex-contents">
    <h1 class="display-2 ">{{ page.title }}</h1>
	</div>
</div>


<div class="container flex-contents">
  <main class="content">
    {{ content }}
  </main>
</div>

{% include sticky_footer.html %}
    
{% include bootstrap_scripts.html %}

</body>
</html>
